@import "tailwindcss";

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  --dark-color: #121818;
  --white-color: #e4dddd;
  --navy-color: #121f34;
  --btn-color: #13274a;
}

/***** Global styles *****/
* {
  color: var(--white-color);
}

#root {
  background: radial-gradient(
    circle at center,
    rgba(18, 31, 52, 0.6) 0%,
    rgba(14, 20, 28, 0.8) 55%,
    rgba(10, 14, 20, 0.95) 100%
  );

  @apply flex flex-col items-center justify-center w-full min-h-dvh;
}
/***** End Global styles *****/

/****** Dynamic tic-tac-toe borders ******/
/* Remove right border from last column */
.cell:nth-child(3n) {
  border-right: none;
}

/* Remove bottom border from last row */
.cell:nth-last-child(-n + 3) {
  border-bottom: none;
}
/***** End cell styles *****/

.button {
  @apply cursor-pointer text-xl p-3 mx-4 my-2 rounded-lg;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  background-color: var(--btn-color);
}

.button:hover {
  background-color: var(--navy-color);
  @apply hover:-translate-y-1;
}
