/***** Global styles *****/
:root {
    --dark-color: #121818;
    --white-color: #e4dddd;
    --navy-color: #121f34;
    --btn-color: #13274a;
}

* {
    font-family: "Cairo", system-ui;
    color: var(--white-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 250ms ease-out;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
}
html {
    height: 100%;
}
body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/***** End Global styles *****/

/***** Board styles *****/
.board {
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--white-color);
    border-radius: 0.7rem;
    box-sizing: content-box;
}
/***** End Board styles *****/

/***** cell styles *****/
.cell {
    width: calc(100% / 3);
    border: 1px solid var(--white-color);
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.cell:not(:empty),
.disabledCell {
    cursor: not-allowed;
}

.cell:nth-child(1) {
    border-top-left-radius: 0.7rem;
}

.cell:nth-child(7) {
    border-bottom-left-radius: 0.7rem;
}

.cell:nth-child(3) {
    border-top-right-radius: 0.7rem;
}

.cell:nth-child(9) {
    border-bottom-right-radius: 0.7rem;
}
/***** End cell styles *****/

/* Update the container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    padding-top: 2rem;
}

div.title {
    display: grid;
    place-items: center;
    gap: 0.75rem;
}

button {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0.7rem;
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    background-color: var(--btn-color);
}

button:hover {
    background-color: var(--navy-color);
    transform: translateY(-0.25rem);
}

#SGMBtns {
    gap: 1rem;
}
#SGMBtns button {
    display: flex;
}

.playerIcon {
    width: 3.5rem;
    aspect-ratio: 1/1;
}

.fa-x {
    background: url("assets/SVGs/x.svg") no-repeat center;
}

.fa-o {
    background: url("assets/SVGs/o.svg") no-repeat center;
}

.fa-desktop {
    background: url("assets/SVGs/desktop.svg") no-repeat center;
}

.fa-shuffle {
    background: url("assets/SVGs/shuffle.svg") no-repeat center;
}

.fa-user {
    background: url("assets/SVGs/user.svg") no-repeat center;
}

.fa-desktop,
.fa-shuffle,
.fa-user {
    width: 3rem;
    margin-right: 0.3rem;
    aspect-ratio: 1/1;
}

#displayScore .fa-o,
#playerTurn .fa-o {
    width: 1.1rem;
    margin: 0 0.3125rem;
    aspect-ratio: 1/1;
}

#displayScore .fa-x,
#playerTurn .fa-x {
    width: 1rem;
    margin: 0 0.3125rem;
    aspect-ratio: 1/1;
}

.title * {
    display: flex;
}

/* Update the #select-game-mode styles */
#select-game-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 29, 0.9),
        rgba(18, 31, 52, 0.9)
    );
}

#winningMessage {
    background: none;
    font-size: 4rem;
    display: flex;
    gap: 2rem;
}

.text-boxes {
    display: grid;
    gap: 1rem;
}

#selectSide {
    display: grid;
    place-items: center;
    gap: 3rem;
}

.btn-group {
    display: flex;
}

.btn-group button {
    display: flex;
    align-items: center;
    width: max-content;
}
.btn-group button h4 {
    display: inline-block;
    width: 100%;
}

/* For tablet screens */
@media only screen and (max-width: 1024px) {
    #SGMBtns:not(.inGame) {
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: stretch;
        margin-top: 1.5rem;
    }
    #SGMBtns:not(.inGame) button {
        width: 100%;
    }
    .inGame button {
        height: fit-content;
        font-size: 1.2rem;
        margin: 0.3rem 0.8rem;
        padding: 0.4rem 0.5rem;
    }
    .board {
        width: 16rem;
    }
    #displayScore .fa-x {
        width: 1.1rem;
    }
    #displayScore .fa-o {
        width: 1.3rem;
    }
}
